.container-welcome {
    min-height: 100vh;
    position: relative;
    padding: 0 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }


  .container-welcome-texto {
    text-align: left;
    height: auto;
    font-family: var(--tipo-principal);
    font-size: 5vw;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 1em;
  }
  .container-welcome-titulo {
    color: var(--negro);
    font-size: 1em;
  }
  .container-welcome-subtitulo {
    color: var(--color-secundario);
    font-size: 1em;
  }
  
  .container-welcome-fondo {
    justify-self: center;
    width: 90%;
    max-width: 40em;

  }

  .container-welcome-redes{
    padding: 0 8%;
    position: absolute;
    right: 0rem;
    bottom: 3.1rem;
    

    display: flex;
    flex-flow: row;
    align-self: center;
    justify-self: center;
  }

  .welcome-redes-svg{
    fill: var(--color-terciario);
    margin-left: 1rem;
    width: 3vw;
    height: 6vh;
    min-width: 2rem;
    min-height: 2rem;
  }

  .welcome-redes-svg:hover{ 
    fill: var(--color-secundario);
  }

  @media (max-width: 550px) {
    .container-welcome {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5em;
    }

    .container-welcome-texto {
      text-align: center;
      font-size: 10vw;
      gap: .5em;
    }
  }

  @media (max-width: 425px) {
    .container-welcome {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.5em;
    }

    .container-welcome-texto {
      text-align: center;
      font-size: 10vw;
      gap: .5em;
    }
  } 