.containerNavBar{
    position:fixed;
    width: 100%;
    background-color: var(--color-terciario);
    z-index: 2;
    padding: 0 8%;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}


.containerNavBar__Logo{
   height: 6em;
   width: 6em;
   display: flex;
   align-items: center;
   
}

.Logo__svg{
    stroke: var(--color-principal);
}

.Logo__svg:hover{
    stroke: var(--color-secundario);
}

.containerNavBar__Botons{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}



.Boton__contenedor:hover{
    background-color:var(--color-secundario);
}

.Boton__Boton{
    padding: 2.3em 2em;

    color: var(--color-principal);
    font-family: var(--tipo-secundaria);
    font-weight: 700;
}

.Boton__Movile{
    display: none;
    cursor: pointer;
}

.svg{
    fill: var(--color-principal);
    height: 2em;
}

  @media (max-width: 852px) {

    .containerNavBar__Botons{
        display: flex;
        width: 100%;
        height: 0vh;
        flex-direction: column;
        overflow: hidden;
        opacity: 0;
        transition: all .5s ease;
    }

    .containerNavBar__Botons.isActive{
        display: flex;
        width: 100%;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
        opacity: 1;
    }

    .Boton__Movile{
        display: block;
    }
  }