.footer{
    position: relative;
    height: auto;
    padding: 2% 8%;
    background-color: var(--color-terciario);
    color: var(--color-principal);
    font-family: var(----tipo-secundaria);
    font-size: 1rem;

}

.footer__redes{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.redes__button{
    padding: 1em 2em;
    border: .1em solid var(--color-principal);
    border-radius: 1em;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}

.redes__button:hover{
    background-color: var(--color-secundario);
    border: .1em solid var(--color-secundario);
}

.button__svg{
    fill: var(--color-principal);
    width: 3vw;
    height: 6vh;
    min-width: 2rem;
    min-height: 2rem;
}

.button__svg:hover{
    fill: var(--color-principal);
}