.card {
    position: relative;
    background-color: var(--color-terciario);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .card__img{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 13.4rem;
  }

 
  
  .card__info {
    width: 100%;
    object-fit: cover;
    background-color: var(--color-terciario);
    hyphens: none;
    padding: 1em;

    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    gap: .5em;

    flex-grow: 1;

  }

  .info__titulo {
    color: var(--color-principal);
    width: 100%;
    font-size: 1.5em;
    font-family: var(--tipo-secundaria);
    font-weight: bold;
    padding: 0 5%;
    
  }

  .info__subtitulo{
    color: var(--color-principal);
    width: 100%;
    font-size: .75em;
    font-family: var(--tipo-secundaria);
    padding: 0 5%;
    
  }

  .card__technologies{
    width: 100%;
    padding: 0 5%;
    margin-bottom: .5em;

    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: start;
    gap: .5em;
  }

  .technologies__pill{
    color: var(--color-principal);
    font-size: .75em;
    font-family: var(--tipo-secundaria);
    padding: .3em .5em;
    border-radius: 1em;
  }

  .card__buttons{
    width: 100%;
    padding: 0 5%;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: row;
    gap: 1em;
  }

  .card__button{
    color: var(--color-principal);
    font-size: 1em;
    font-family: var(--tipo-secundaria);
    padding: .4em .5em;
    border: .1rem solid var(--color-principal);
    border-radius: .5em;
  }

  .card__button:hover{
    background-color: var(--color-secundario);
    border: .1rem solid var(--color-secundario);
  }