.proyectos{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    color: var(--color-secundario);
    padding: 8% 8%;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
}
.proyectos__titulo{
    justify-content: center;
    text-align: left;
    font-family: var(--tipo-principal);
    font-size: 3em;
    line-height: 100%;
    z-index: 1;
}
.proyectos__wrapcards{
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-flow:wrap;
    align-items: top;
    justify-content: center;
    gap: 1em;
}

.wrapcards__card{
    flex: 1;
    min-width: 25rem;
    max-width: 25rem;
}

.proyectos__otrospro{
    font-family: var(--tipo-secundaria);
    font-size: 1em;
    background-color: var(--color-terciario);
    color: var(--color-principal);
    padding: .5em 1em;
    border: .1em solid var(--color-terciario);
    border-radius: .5em;


    display: flex;
    align-self: end;

}

.proyectos__otrospro:hover{
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border: .1em solid var(--color-secundario);
}

@media (max-width: 425px) {
    .proyectos{
        padding: 8% 0.1em;
    }

    .wrapcards__card{
        flex: 1;
        min-width: 90%;
        max-width: 90%;
    }

    .proyectos__otrospro{
        margin-right: 1em;
        padding: .5em 1em;
        border-radius: 1em;
    }
}